button{
    font-weight: bold;
}
.join-button {
    padding:0.3rem;
    cursor: pointer;
    min-width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #0BA000;
    color: white;
    border: 1px solid #0BA000;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.join-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.join-button:active {
    border: 1px solid #317e15;   
    background-color: #317e15;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-btn {
    border: none;
    background-color: #E3EBFF;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 4rem;
}
.dropdown-btn:hover {
    border: 3px solid var(--text-color2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.search-button {
    padding:0.3rem;
    cursor: pointer;
    min-width: 4rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--text-color2);
    color: white;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);

}
.search-button:active {
    background-color: #235181;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button.disabled {
    cursor: not-allowed;
    padding: 0.5rem;
    border: 3px solid #90323D;
    border: None;
    background-color: #90323D;
    color: white;
}

.link-button{
    padding:0.3rem;
    opacity: 1;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
    border: none;
    min-width: 4rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    background-color: var(--link-color);
    color: white;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.link-button:hover {
    opacity: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.link-button:active {   
    background-color: #bc4863;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
    .link-button {
        font-size: 1rem;
        opacity: 0.7;
    }
    .link-button:hover {
        opacity: 1;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
}
.primary-button {
    padding:0.3rem;
    cursor: pointer;
    min-width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #0BA000;
    color: white;
    border: 3px solid #0BA000;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.primary-button:hover {
    border: 3px solid var(--text-color2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}
.primary-button:active {
    border: 3px solid #1D460E;
    background-color: #1D460E;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}