:root {
    --primary-color: #EF476F;
    --secondary-color: #5D5179;
    --text-color: #333;
    --text-color2: #2C3E50;
    --text-interactive: #4B636E;
    --hover-color: #e5e7eb;
    --light-color: #F9FAFB;
    --background-color: #DBDAEA;
    --border-color: #d2cfcf;
    --accent1-color: #F3D34A;
    --accent2-color: #F7AF9D;
    --accent3-color: #006D77;
    --link-color: #EF476F;
    --error-color: #90323D;
    --success-color: #0BA000;
    --space-0: 0rem;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
}

body {
    color: var(--text-color); /* color applies to text */
    background-color: var(--background-color);
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
button{
    font-family: "Outfit", sans-serif;
}
h1 {
    color: var(--primary-color); /* color applies to text */
    font-size: 2.8rem;
}
h2 {
    font-size: 2.2rem;
    font-weight: 700;
}
h3 {
    font-size: 1.6rem;
    font-weight: 700;
}
p {
    margin-bottom: 0;
}

.page-title {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.hero-text{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color2);
}

@media (min-width: 768px) {
    h1 {
        font-size: 5.2rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    p {
        font-size: 1.4rem;
    }
    .page-title {
        text-align: left;
        width: 100%;
    }
    .hero-text{
        text-align: left;
        font-size: 1.8rem;
        width: 100%;
    }
}

