:root {
    --primary-color: #32485e;
    --secondary-color: #5d5179;
    --text-color: #1f1e1e;
    --text-color2: #5c88b5;
    --text-interactive: #4b636e;
    --hover-color: #e5e7eb;
    --light-color: #f4f9f9;
    --background-color: #dedee7;
    --card-color: #f2f0f7;
    --border-color: #d2cfcf;
    --accent1-color: #f9e06e;
    --accent2-color: #fcbaaa;
    --accent3-color: #006d77;
    --link-color: #ef476f;
    --error-color: #90323d;
    --success-color: #0ba000;
    --space-0: 0rem;
    --space-1: 0.25rem  ;
    --space-2: 0.5rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
}

body {
    color: var(--text-color); /* color applies to text */
    background-color: var(--background-color);
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}
button {
    font-family: "Outfit", sans-serif;
}
h1 {
    color: var(--primary-color); /* color applies to text */
    font-size: 2rem;
    line-height: 1;
}
h2 {
    font-size: 1.8rem;
    font-weight: 700;
}
h3 {
    font-size: 1.4rem;
    font-weight: 700;
}
h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
p {
    margin-bottom: 0;
    line-height: 1.2;
}
a {
    font-size: 1rem;
}
.page-title {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.hero-text {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color2);
    margin-bottom: 0.5rem;
}
.positive{
    color: var(--success-color);
    font-weight: 500;
}
.negative{
    color:var(--secondary-color);
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: var(--text-interactive);
    position: relative;
}
.link:hover {
    text-decoration: underline;
    color: var(--link-color);
}
.link::before {
    content: "🔗";
    margin-left: 4px;
}
.link::after {
    content: ">";
    margin-left: 4px;
}

.desktop-p1 {
    display: none;
}

.desktop-p2 {
    display: none;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5.2rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.4rem;
    }
    a {
        font-size: 1.4rem;
    }
    .page-title {
        text-align: left;
        width: 100%;
    }
    .hero-text {
        text-align: left;
        font-size: 1.8rem;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .desktop-p1 {
        display: block;
    }
}

@media (min-width: 1200px) {
    .desktop-p2 {
        display: block;
    }
}
