@import '../component_skeletons/card.css';
@import '../component_skeletons/form.css';
.tp-card img{
    height: 70%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.tp-card {
    height: auto;
    min-height: 150px;
}
@media (min-width: 768px) {
    .tp-card {
        min-height: 250px;
    }
    .tp-card p{
        font-size: 1.2rem;
    }
}
button{
    font-weight: bold;
}
.join-button {
    padding:0.3rem;
    cursor: pointer;
    min-width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #0BA000;
    color: white;
    border: 3px solid #0BA000;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.join-button.hover {
    border: 3px solid var(--text-color2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}
.join-button.active {
    border: 3px solid #1D460E;   
    background-color: #1D460E;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-btn {
    border: none;
    background-color: #E3EBFF;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 4rem;
}
.dropdown-btn.hover {
    border: 3px solid var(--text-color2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.search-button {
    padding:0.3rem;
    cursor: pointer;
    min-width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #4a90e2;
    color: white;
    border: 3px solid #4a90e2;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-button.hover {
    border: 3px solid var(--text-color2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}
.search-button.active {
    border: 3px solid #235181;    
    background-color: #235181;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button.disabled {
    cursor: not-allowed;
    padding: 0.5rem;
    border: 3px solid #90323D;
    border: None;
    background-color: #90323D;
    color: white;
}
.primary-button {
    padding:0.3rem;
    cursor: pointer;
    min-width: 4rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #0BA000;
    color: white;
    border: 3px solid #0BA000;
    border-radius: 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.primary-button:hover {
    border: 3px solid var(--text-color2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}
.primary-button:active {
    border: 3px solid #1D460E;
    background-color: #1D460E;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}